@charset "UTF-8";

/* 공통된 탑1 부분 */

#navbar-fixed-top {
	background-color: #27cea7;
	/* background-color: #41AF39; 네이버색생*/
	height: 60px;
	padding-top: 7px;
	padding-right: 10px;
	z-index: 200;
}

#navbar-brand {
	color: #353535;
	font-weight: bold;
	font-size: 1.4em;
}

#navbar-brand>b {
	color: #353535;
	font-weight: bold;
	font-size: 1.8em;
}

#form-control {
	border: 0px;
	border-radius: 0px;
	height: 32px;
	font-size: 0.8em;
	font-weight: bold;
}

#btn-default {
	border: 0px;
	border-radius: 0px;
	height: 32px;
}

#navbar-nav>li>ul{
	display: none;
}

#navbar-nav>li:hover ul{
	display: block;
}

#navbar-nav>li>a {
	color: #353535;
	font-weight: 900;
	font-size: 1em;
}

#navbar-nav>li>a:hover{
	color: white;
	font-weight: 900;
	font-size: 1.1em;
	
}

#navbar-nav>li>a:first-child{
	background-color: transparent;
}

#dropdown-menu{
	z-index: 180;
}

#dropdown-menu>li>a:hover, #dropdown-menu>li>a:active{
	color: white; /* 드롭다운 글자색 통일하기 옆의 색으로 */
	font-weight: bold;
	font-size: 1.1em;
	background-color: #27cea7;
}
.nav-up {
	top: -100px; /* 네비게이션이랑 높이 같게 */
}