@charset "UTF-8";

/* 비밀번호변경 부분 */

#row-body-change-password {
	margin-top: 100px;
	background-color: #FAFAFA;
	padding-top: 45px;
	padding-bottom: 45px;
}

#profile-info {
	border: 1px solid #E1E1E1;
	background-color: white;
	/* 	height: 450px; */
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
}

#profile-info>h4 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 25px;
	margin-bottom: 5px;
}

#profile-menu>h3 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 25px;
}

#profile-menu>a>p {
	color: #8C8C8C;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 20px;
}

table {
	width: 100%;
}

h4 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 16px;
	margin-top: 35px;
	margin-bottom: 5px;
}

hr {
	border: 1px solid #4d4d4d;
	margin-top: 0px;
}

.password-title {
	color: #636363;
	font-weight: bold;
	font-size: 1em;
}

td>.form-control {
	border-radius: 0px;
	border: 1px solid #CFCFCF;
}

#change-password {
	margin-right: 20px;
}

.password-btn {
	text-align: right;
}

.password-btn>button {
	margin-top: 20px;
	height: 55px;
	width: 420px;
	color: #4d4d4d;
	font-weight: bold;
	background-color: #41AF39;
	font-size: 15px;
}