@charset "UTF-8";

/* 회원탈퇴2단계 부분 */

#row-body-withdraw {
	margin-top: 100px;
	background-color: #FAFAFA;
	padding-top: 80px;
	padding-bottom: 80px;
}

#profile-menu>h3 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 0px;
	margin-bottom: 25px;
}

#profile-menu>a>p {
	color: #8C8C8C;
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 20px;
}

#profile-info {
	border: 1px solid #E1E1E1;
	background-color: white;
	/* 	height: 450px; */
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
}

#profile-info>h4 {
	color: #4d4d4d;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 25px;
	margin-bottom: 5px;
}

hr {
	border: 1px solid #4d4d4d;
	margin-top: 0px;
}

.confirm-title {
	color: #636363;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 5px;
}

td>.form-control {
	border-radius: 0px;
	border: 1px solid #CFCFCF;
	width: 100%;
	margin-bottom: 50px;
}

table{
	width: 100%;
}

#confirm-btn>td{
	text-align: right;
}

.btn-back{
	background-color: #27CEA7;
}