@charset "UTF-8";

/* 뷰 부분 */

#row-body-view {
	margin-top: 100px;
	background-color: #FAFAFA;
	padding-top: 90px;
	padding-bottom: 90px;
}

.view-head {
	border: 1px solid #E1E1E1;
	background-color: white;
	padding: 15px;
	margin-bottom: 30px;
}

.view-star {
	text-align: center;
	height: 30px;
	margin-bottom: 55px;
}

.view-star>img {
	height: 100%;
}

.view-star>p {
	margin-top: 10px;
	color: #636363;
	font-weight: bold;
	color: #636363;
}

.view-body {
	border: 1px solid #E1E1E1;
	background-color: white;
	padding: 15px;
}

.title {
	margin-bottom: 25px;
	border-top: 1px solid #E1E1E1;
	padding-top: 25px;
}

.contents {
	margin-bottom: 25px;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 25px;
}

.need-contents {
	margin-bottom: 25px;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 25px;
}

.p-title {
	color: #636363;
	font-weight: bold;
}

.view-btn {
	margin-top: 30px;
	text-align: right;
}

#btn-delete, #btn-modify, #btn-list {
	margin-left: 10px;
	border-radius: 0px;
	height: 35px;
	width: 100px;
}

.images>.img-responsive {
	height: 500px;
	width: 100%;
}

#btn-select {
	border-radius: 0px;
	height: 30px;
	width: 85px;
}

.view-comment-head {
	margin-top: 100px;
	margin-bottom: 10px;
}

.view-comment-head>.container {
	padding: 0px;
	width: 100%;
}

#nav-tabs {
	margin-bottom: 5px;
}

.view-comment-write {
	border: 1px solid #E1E1E1;
	background-color: white;
	padding: 15px;
	margin-bottom: 50px;
}

.form-inline>.form-control {
	border-radius: 0px;
	border: 1px solid #CFCFCF;
	height: 110px;
	width: 76%;
	margin-right: 15px;
}

.form-inline>.btn {
	border-radius: 0px;
	border: 1px solid #CFCFCF;
	height: 110px;
	width: 20%;
}

.pagination {
	margin-top: 5px;
	margin-bottom: 15px;
}

#pagination-ul>li>a {
	align-self: center;
	color: #636363;
}