<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.cafe24.ourplanners.notice.persistence.ABoardDAO">
	<select id="listPage" resultType="com.cafe24.ourplanners.notice.dto.ABoardDTO">
		select * from (select Tb.*, rownum rNum from (select * from op_notice order by notice_srl desc) Tb) where rNum between #{param1} and #{param2}
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from op_notice
	</select>
	<select id="view" resultType="com.cafe24.ourplanners.notice.dto.ABoardDTO">
		select * from op_notice where notice_srl=#{param1}
	</select>
	<delete id="delete">
		delete from op_notice where notice_srl=#{param1}
	</delete>
	<insert id="write">
		insert into op_notice values (op_notice_srl_seq.nextval, #{param1}, #{param2}, sysdate)
	</insert>
</mapper>