<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kosmo.mapper.BoardMapper">
 
  <select id="list" resultType="com.cafe24.ourplanners.board.dto.BoardDTO">
		SELECT * FROM op_board ORDER BY board_srl DESC
	</select>
 	
 </mapper>