<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kosmo.mapper.BoardMapper">
 	
	<sql id="search">
		<choose>
			<when test="searchType == null or searchType == '' or keyword == null or keyword == ''">

			</when>
			<otherwise>
				<if test="searchType == 't'.toString()">
					and title like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and contents like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				
				<if test="searchType == 'tc'.toString()">
					and ( title like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%') OR contents like
					CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%'))
				</if>
			</otherwise>
		</choose>
	</sql>
 	
	<select id="getBoardListJson" resultType="BoardVO">
		<![CDATA[  
			SELECT * FROM 
				(SELECT Tb.*, rownum rNum FROM 
					(SELECT * FROM op_board where board_srl > 0 
		]]>

		<choose>
			<when test="board_type == null or board_type == ''">

			</when>
			<otherwise>
				AND board_type = #{board_type}
			</otherwise>
		</choose>

		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND category_srl = #{category_srl}
			</otherwise>
		</choose>

		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>

		<include refid="search"></include>
  
		<![CDATA[    
		  ORDER BY board_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
		]]>

	</select>
 	
	<select id="getTotalCount" resultType="Integer">
	
		<![CDATA[  
			select count(*) from op_board
			  where board_srl > 0 
		]]>
	
		<choose>
			<when test="board_type == null or board_type == ''">

			</when>
			<otherwise>
				AND board_type = #{board_type}
			</otherwise>
		</choose>
	
		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND category_srl = #{category_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>
		<include refid="search"></include>
	</select>
 	
 	
 	
 	
 	<select id="getTotalCount1" resultType="int">
		SELECT COUNT(*) FROM op_board
	</select>
	
	<!-- <select id="list" resultType="com.cafe24.ourplanners.board.dto.BoardDTO">
		SELECT * FROM op_board ORDER BY board_srl DESC
	</select> -->
	
	<select id="listPage" resultType="com.cafe24.ourplanners.board.domain.BoardVO">
		SELECT * FROM (
			SELECT Tb.*, rownum rNum FROM (
				SELECT * FROM op_board ORDER BY board_srl DESC 
			) Tb 
		)
		WHERE rNum BETWEEN #{start} AND #{end}
	</select> 
	
 	<select id="view" resultType="com.cafe24.ourplanners.board.domain.BoardVO">
 		SELECT * FROM op_board WHERE board_srl = #{param1}
 	</select>
 	
 	<update id="visitCount">
 		update op_board set visitcount = visitcount + 1 where board_srl = #{board_srl} 
 	</update> 
 	
 	<insert id="insert" parameterType="com.cafe24.ourplanners.board.dto.BoardDTO">
 		insert into op_board (
 			board_srl, user_id, location, service_time_start, service_time_end,
 			title, contents, contact_time_start, contact_time_end, main_image, 
 			category_srl, subcategory_srl, service_cost, board_type) 
		values (
			board_srl_seq.nextval, #{user_id}, #{location}, #{service_time_start}, #{service_time_end},
            #{title}, #{contents}, #{contact_time_start}, #{contact_time_end}, #{main_image}, 
            #{category_srl}, #{subcategory_srl}, #{service_cost}, #{board_type}) 
 	</insert>
 	
 	<select id="modify" resultType ="com.cafe24.ourplanners.board.domain.BoardVO">
 		select * from op_board where board_srl = #{board_srl}
 	</select>
 	
 	<update id="modifyAction">
		update op_board set 
			location=#{location}, service_time_start=#{service_time_start}, service_time_end = #{service_time_end},
			title=#{title}, contents=#{contents}, contact_time_start=#{contact_time_start}, contact_time_end=#{contact_time_end},
			main_image=#{main_image}, service_cost=#{service_cost}
		where board_srl=#{board_srl}
	</update>
	
	<delete id="delete">
		delete from op_board where board_srl=#{board_srl}
	</delete>
 </mapper>

 
 
 
 
 
 