<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kosmo.mapper.BoardMapper">
 	
 	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM op_board
	</select>
	
	<!-- <select id="list" resultType="com.cafe24.ourplanners.board.dto.BoardDTO">
		SELECT * FROM op_board ORDER BY board_srl DESC
	</select> -->
	
	<select id="listPage" resultType="com.cafe24.ourplanners.board.dto.BoardDTO">
		SELECT * FROM (
			SELECT Tb.*, rownum rNum FROM (
				SELECT * FROM op_board ORDER BY board_srl DESC 
			) Tb 
		)
		WHERE rNum BETWEEN #{start} AND #{end}
	</select> 
	
 	<select id="view" resultType="com.cafe24.ourplanners.board.dto.BoardDTO">
 		SELECT * FROM op_board WHERE board_srl = #{param1}
 	</select>
 </mapper>