<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.kosmo.mapper.MemberMapper">

	<select id="insert" resultType="Integer" parameterType="com.cafe24.ourplanners.member.domain.MemberVO">
 		
 		insert into op_member (member_srl,member_type,user_id,email_address,password,salt,email_id,email_host,user_name,
find_account_question,find_account_answer,birthday,allow_mailing,allow_message,gender,address,mobile,
career,career_history,license_date,license_provider,license_description,adopt_ratio,satisfaction,
company_name,company_number,regdate,denied,limit_date,is_admin,change_password_date,profile_img_path,member_grade,last_login)
values (#{member_srl},#{member_type},#{user_id},#{email_address},#{password},#{salt},#{email_id},#{email_host},#{user_name},
#{find_account_question},#{find_account_answer},#{birthday},#{allow_mailing},#{allow_message},#{gender},#{address},#{mobile},
#{career},#{career_history},#{license_date},#{license_provider},#{license_description},#{adopt_ratio},#{satisfaction},
#{company_name},#{company_number},#{regdate},#{denied},#{limit_date},#{is_admin},#{change_password_date},#{profile_img_path},#{member_grade},#{last_login})
 		
 	</select>
 	
 	
 	<select id="hasId" resultType="Integer">
 		select count(*) from op_member where user_id=#{0}
 	</select>
 	
 	
 	<select id="login" resultType="com.cafe24.ourplanners.member.dto.LoginDTO">
 		select * from op_member where user_id=#{user_id} and password=#{password}
 	</select>
 	
 	<select id="isValidAuthKey" resultType="Integer">
 		select count(*) from op_member_auth_mail where auth_key=#{auth_key} and user_id=#{user_id} and password=#{password}
 	</select>
 	
 	<select id="isValidAuthKeyWithoutPassword" resultType="Integer">
 		select count(*) from op_member_auth_mail where auth_key=#{auth_key} and user_id=#{user_id}
 	</select>
 	
 	
 	<update id="updateIsRegister">
 	
 	update member_auth_mail set is_register=#{is_register} where auth_key=#{auth_key} and user_id=#{user_id} and password=#{password}
 	
	</update>
	
	<update id="mergeAuthKey">
	
	merge into op_member_auth_mail m using dual d on (user_id = #{user_id})  
								when matched then  
								    update set auth_key=#{auth_key},password=#{password},is_register=#{is_register},regdate=#{regdate}
								when not matched then
								    insert (auth_key,user_id,password,is_register,regdate) values (#{auth_key},#{user_id},#{password},#{is_register},#{regdate})
		
	</update>

 	
 </mapper>