<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.mapper.MessageMapper">

	<sql id="search">
		<choose>
			<when test="searchType == null or searchType == '' or keyword == null or keyword == ''">

			</when>
			<otherwise>
				<if test="searchType == 't'.toString()">
					and title like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and contents like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				
				<if test="searchType == 'tc'.toString()">
					and ( title like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%') OR contents like
					CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%'))
				</if>
			</otherwise>
		</choose>
	</sql>

	<!-- select 
	mes.TITLE ,
	mes.CONTENTS ,
	mes.postdate,
	mes.readed,
	mes.readed_date,
	mem.user_id
from op_message mes inner join op_member mem
on mes.sender_srl = mem.user_id
where mes.receiver_srl = (select user_id from op_member where user_id = 'kosmo'); -->


	<select id="getMessageListJson" resultType="MessageVO">
	<![CDATA[  
	
	
	SELECT * FROM (SELECT Tb.*, rownum rNum FROM ( SELECT message_srl ,
	TITLE ,
	CONTENTS ,
	sender_SRL ,
	receiver_SRL ,
	postdate,
	readed,
	readed_date
	 FROM op_message where message_srl > 0
	]]>
	
		
		<choose>
			<when test="sender_srl == null or sender_srl == ''">

			</when>
			<otherwise>
				AND sender_srl = #{sender_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="receiver_srl == null or receiver_srl == ''">

			</when>
			<otherwise>
				AND receiver_srl = #{receiver_srl}
			</otherwise>
		</choose>
			
			<include refid="search"></include>
  
	<![CDATA[    
	  ORDER BY message_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
	]]>
	
	</select>
	<select id="getTotalCount" resultType="Integer">
	<![CDATA[  
		select count(*) from op_message
		  where message_srl > 0 
	]]>
	
	<choose>
			<when test="sender_srl == null or sender_srl == ''">

			</when>
			<otherwise>
				AND sender_srl = #{sender_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="receiver_srl == null or receiver_srl == ''">

			</when>
			<otherwise>
				AND receiver_srl = #{receiver_srl}
			</otherwise>
		</choose>
			
			<include refid="search"></include>
	</select>
	
	<delete id="deleteMessage">
		delete from op_message where
		message_srl=#{message_srl}
	</delete>
	
	<insert id="writeMessage">
		insert into
		op_message(message_srl,sender_srl,receiver_srl,title,contents) values
		(op_message_srl_seq.nextval,#{sender_srl}, #{receiver_srl},
		#{title},#{contents})
		
		
	</insert>

	<select id="sendedMessage" resultType="MessageVO">
		select * from op_message where sender_srl=#{sender_srl}
		
	</select>
	
	<select id="receivedMessage" resultType="MessageVO">
		select * from op_message where receiver_srl=#{receiver_srl}
		
	</select>
	



</mapper>