<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.mapper.SearchMapper">

<!-- 내용 부분 clob데이터타입으로 변경시.. -->

<resultMap id="serviceBoardMap" type="BoardVO">
    <result property="board_srl" column="board_srl" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="user_id" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="location" column="location" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="service_time_start" column="service_time_start" javaType="java.sql.Date" jdbcType="DATE" />
    <result property="service_time_end" column="service_time_end" javaType="java.sql.Date" jdbcType="DATE" />
    <result property="title" column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="contents" column="contents" javaType="java.lang.String" jdbcType="CLOB" />
    <result property="postdate" column="postdate" javaType="java.sql.Date" jdbcType="VARCHAR" />
    
    <result property="visitcount" column="visitcount" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="contact_time_start" column="contact_time_start" javaType="java.lang.Integer" jdbcType="INTEGER" />    
    <result property="contact_time_end" column="contact_time_end" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="like_user_id" column="like_user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="main_image" column="main_image" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="contents_image" column="contents_image" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="category_srl" column="category_srl" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="subcategory_srl" column="subcategory_srl" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="service_expired" column="service_expired" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="service_cost" column="service_cost" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="limit_person" column="limit_person" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="board_type" column="board_type" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="service_score" column="service_score" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="last_update" column="last_update" javaType="java.sql.Date" jdbcType="DATE" />
</resultMap>

<!-- 

<insert id="insertClobDataServiceBoard" parameterType="com.cafe24.ourplanners.board.dto.BoardDTO">
    <selectKey keyProperty="board_srl" resultType="int" order="BEFORE">
        SELECT SEQ_BULLETIN.NEXTVAL FROM DUAL              
    </selectKey>

insert into op_board (
 			board_srl, user_id, location, service_time_start, service_time_end,
 			title, contents, contact_time_start, contact_time_end, main_image, 
 			category_srl, subcategory_srl, service_cost, board_type) 
		values (
			board_srl_seq.nextval, #{user_id}, #{location}, #{service_time_start}, #{service_time_end},
            #{title}, #{contents:VARCHAR}, #{contact_time_start}, #{contact_time_end}, #{main_image}, 
            #{category_srl}, #{subcategory_srl}, #{service_cost}, #{board_type}) 
   
   
</insert>
 -->
	<sql id="search">
		<choose>
			<when test="searchType == null or searchType == '' or keyword == null or keyword == ''">

			</when>
			<otherwise>
				<if test="searchType == 't'.toString()">
					and title like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				<if test="searchType == 'c'.toString()">
					and contents like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				<if test="searchType == 'i'.toString()">
					and user_id like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%')
				</if>
				<if test="searchType == 'tc'.toString()">
					and ( title like CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%') OR contents like
					CONCAT(CONCAT('%', #{keyword,jdbcType=VARCHAR}), '%'))
				</if>
			</otherwise>
		</choose>
	</sql>

	<select id="getHotServiceList" resultType="com.cafe24.ourplanners.board.domain.BoardVO">
<![CDATA[  
SELECT * FROM (SELECT Tb.*, rownum rNum FROM ( SELECT BOARD_SRL ,
USER_ID ,
LOCATION ,
SERVICE_TIME_START ,
SERVICE_TIME_END ,
TITLE ,
CONTENTS ,
POSTDATE ,
VISITCOUNT ,
CONTACT_TIME_START ,
CONTACT_TIME_END ,
LIKE_USER_ID ,
NVL2(length(like_user_id) - length(replace(like_user_id,',','')), length(like_user_id) - length(replace(like_user_id,',',''))+1,0) like_user_count,
MAIN_IMAGE ,
CONTENTS_IMAGE ,
CATEGORY_SRL ,
SUBCATEGORY_SRL ,
service_expired ,
SERVICE_COST ,
LIMIT_PERSON ,
BOARD_TYPE ,
SERVICE_SCORE,LAST_UPDATE  FROM op_board where board_srl > 0 

 and postdate > (sysdate-7) 
]]>
		<choose>
			<when test="board_type == null or board_type == ''">

			</when>
			<otherwise>
				AND board_type = #{board_type}
			</otherwise>
		</choose>

		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND category_srl = #{category_srl}
			</otherwise>
		</choose>

		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>
<![CDATA[  
		ORDER BY like_user_count desc, board_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
]]>
	</select>


	<select id="getHotServiceListSearch" resultType="com.cafe24.ourplanners.board.domain.BoardVO">
<![CDATA[  
SELECT * FROM (SELECT Tb.*, rownum rNum FROM ( SELECT BOARD_SRL ,
USER_ID ,
LOCATION ,
SERVICE_TIME_START ,
SERVICE_TIME_END ,
TITLE ,
CONTENTS ,
POSTDATE ,
VISITCOUNT ,
CONTACT_TIME_START ,
CONTACT_TIME_END ,
LIKE_USER_ID ,
NVL2(length(like_user_id) - length(replace(like_user_id,',','')), length(like_user_id) - length(replace(like_user_id,',',''))+1,0) like_user_count,
MAIN_IMAGE ,
CONTENTS_IMAGE ,
CATEGORY_SRL ,
SUBCATEGORY_SRL ,
service_expired ,
SERVICE_COST ,
LIMIT_PERSON ,
BOARD_TYPE ,
SERVICE_SCORE,LAST_UPDATE  FROM op_board where board_srl > 0 

 and postdate > (sysdate-7) 
]]>

		<choose>
			<when test="board_type == null or board_type == ''">

			</when>
			<otherwise>
				AND board_type = #{board_type}
			</otherwise>
		</choose>

		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND category_srl = #{category_srl}
			</otherwise>
		</choose>

		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>

		<include refid="search"></include>
  
	<![CDATA[    
	  ORDER BY like_user_count desc, board_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
	]]>

	</select>


<select id="getSubCategoryListSearch" resultType="com.cafe24.ourplanners.board.domain.SubCategoryVO">
<![CDATA[  
 select sc.category_srl, category_name,subcategory_srl, subcategory_name 
 from 
 subcategory sc inner join category c 
 on sc.category_srl = c.category_srl 
 where subcategory_srl>0 
]]>

		<choose>
			<when test="category_name == null or category_name == ''">

			</when>
			<otherwise>
				
				and (
				 	category_name like CONCAT(CONCAT('%', #{category_name}), '%') 
					
					
					<if test="subcategory_name != null and subcategory_name != ''">
					OR subcategory_name like CONCAT(CONCAT('%', #{subcategory_name}), '%')
					</if>
			
					)
			</otherwise>
		</choose>

		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND sc.category_srl = #{category_srl}
			</otherwise>
		</choose>

		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>

	</select>
	
	<!-- 게시판 검색후 리스트 가져오기 -->
	
	<select id="getServiceListSearch" resultType="com.cafe24.ourplanners.board.domain.BoardVO">
<![CDATA[  
SELECT * FROM (SELECT Tb.*, rownum rNum FROM ( SELECT BOARD_SRL ,
USER_ID ,
LOCATION ,
SERVICE_TIME_START ,
SERVICE_TIME_END ,
TITLE ,
CONTENTS ,
POSTDATE ,
VISITCOUNT ,
CONTACT_TIME_START ,
CONTACT_TIME_END ,
LIKE_USER_ID ,
NVL2(length(like_user_id) - length(replace(like_user_id,',','')), length(like_user_id) - length(replace(like_user_id,',',''))+1,0) like_user_count,
MAIN_IMAGE ,
CONTENTS_IMAGE ,
CATEGORY_SRL ,
SUBCATEGORY_SRL ,
service_expired ,
SERVICE_COST ,
LIMIT_PERSON ,
BOARD_TYPE ,
SERVICE_SCORE,LAST_UPDATE  FROM op_board where board_srl > 0 
]]>

		<choose>
			<when test="board_type == null or board_type == ''">

			</when>
			<otherwise>
				AND board_type = #{board_type}
			</otherwise>
		</choose>

		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND category_srl = #{category_srl}
			</otherwise>
		</choose>

		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="user_id == null or user_id == ''">

			</when>
			<otherwise>
				AND user_id = #{user_id,jdbcType=VARCHAR}
			</otherwise>
		</choose>
		
		<choose>
			<when test="service_expired == null or service_expired == ''">

			</when>
			<otherwise>
				AND service_expired = #{service_expired,jdbcType=VARCHAR}
			</otherwise>
		</choose>
			 
		<include refid="search"></include>
  
	<![CDATA[    
	  ORDER BY board_srl DESC ) Tb ) WHERE rNum Between #{pageStart} and #{pageEnd}
	]]>

	</select>
	
	<!-- 페이징 처리용 total count -->
	<select id="getTotalServiceCount" resultType="Integer">
	
	<![CDATA[  
		select count(*) from op_board
		  where board_srl > 0 
	]]>
	
	<choose>
			<when test="board_type == null or board_type == ''">

			</when>
			<otherwise>
				AND board_type = #{board_type}
			</otherwise>
		</choose>

		<choose>
			<when test="category_srl == null or category_srl == ''">

			</when>
			<otherwise>
				AND category_srl = #{category_srl}
			</otherwise>
		</choose>

		<choose>
			<when test="subcategory_srl == null or subcategory_srl == ''">

			</when>
			<otherwise>
				AND subcategory_srl = #{subcategory_srl}
			</otherwise>
		</choose>
		
		<choose>
			<when test="user_id == null or user_id == ''">

			</when>
			<otherwise>
				AND user_id = #{user_id,jdbcType=VARCHAR}
			</otherwise>
		</choose>
		
		<choose>
			<when test="service_expired == null or service_expired == ''">

			</when>
			<otherwise>
				AND service_expired = #{service_expired,jdbcType=VARCHAR}
			</otherwise>
		</choose>
		
		<include refid="search"></include>
	
	</select>
	
	
	 <update id="visitCount">
 		update op_board set visitcount = visitcount + 1 where board_srl = #{board_srl} 
 	</update> 
 	
	
	<delete id="deleteBoard">
		delete from op_board where board_srl=#{board_srl}
	</delete>
	
	<insert id="writeBoard">
	
	insert into op_board (
 			board_srl, user_id, location, service_time_start, service_time_end,
 			title, contents, contact_time_start, contact_time_end, main_image, 
 			category_srl, subcategory_srl, service_cost, board_type) 
		values (
			board_srl_seq.nextval, #{user_id}, #{location}, #{service_time_start}, #{service_time_end},
            #{title}, #{contents}, #{contact_time_start}, #{contact_time_end}, #{main_image,jdbcType=VARCHAR}, 
            #{category_srl}, #{subcategory_srl}, #{service_cost}, #{board_type}) 
 	

	</insert>
	
	<update id="modifyBoard">
	
	update op_board set 
			location=#{location}, service_time_start=#{service_time_start}, service_time_end = #{service_time_end},
			title=#{title}, contents=#{contents}, contact_time_start=#{contact_time_start}, contact_time_end=#{contact_time_end},
			main_image=#{main_image,jdbcType=VARCHAR}, service_cost=#{service_cost}
		where board_srl=#{board_srl}
		
	</update>
	
	<select id="readBoard" resultType="BoardVO">
		select * from op_board where board_srl=#{board_srl}
		
	</select>
	

</mapper>