
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Voyo | Responsive Multipurpose HTML5 Template</title>

<meta name="author" content="abusinesstheme">
<meta name="description" content="Voyo One is a multipurpose HTML Template developed with the the latest HTML5 and CSS3 technologies. It can be perfectly fit for any corporate, e-commerce, business, agency or individual website.">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700|Raleway:300,400,500,600'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="http://abusinesstheme.com/demo/voyo/assets/css/style.css">

<link rel="shortcut icon" href="http://abusinesstheme.com/demo/voyo/assets/images/favicon.ico">
<link rel="apple-touch-icon" href="http://abusinesstheme.com/demo/voyo/assets/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://abusinesstheme.com/demo/voyo/assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://abusinesstheme.com/demo/voyo/assets/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://abusinesstheme.com/demo/voyo/assets/images/apple-touch-icon-144x144.png">
</head>
<body>

	<div id="wrapper">

		<div class="top-bar main-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="pull-left hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<nav class="pull-right">
							<ul class="top-menu">
								<li><a href="shop_account.html"><i class="fa fa-user"></i> My Account</a></li>
								<li><a href="shop_cart.html"><i class="fa fa-shopping-cart"></i> My Wishlist</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<header class="header-wrapper">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-2">
							<a href="index.html" class="logo"><img src="http://abusinesstheme.com/demo/voyo/assets/images/logo.png" alt="Logo Voyo One"></a>
						</div>
						<div class="col-sm-12 col-md-10">
							<nav class="navbar-right">
								<ul class="menu">

									<li class="toggle-menu"><span class="title">Menu</span> <span class="icon"><i></i><i></i><i></i></span></li>

									<li class="first"><a href="#" data-hover="Home">Home</a>
										<ul class="submenu">
											<li><a href="index.html">Corporate (Default)</a></li>
											<li><a href="#">Alternatives</a>
												<ul class="submenu">
													<li><a href="index_2.html">Home 2</a></li>
													<li><a href="index_3.html">Home 3</a></li>
													<li><a href="index_4.html">Home 4</a></li>
												</ul></li>
											<li><a href="index_business.html">Business</a></li>
											<li><a href="index_parallax.html">Parallax</a></li>
											<li><a href="index_portfolio.html">Portfolio</a></li>
											<li><a href="index_onepage.html">One Page</a></li>
										</ul></li>

									<li><a href="#" data-hover="Blog">Blog</a>
										<ul class="submenu">
											<li><a href="blog_small.html">Small Image</a></li>
											<li><a href="blog_large.html">Large Image</a></li>
											<li><a href="#">Grid style</a>
												<ul class="submenu">
													<li><a href="blog_grid_2.html">2 Columns</a></li>
													<li><a href="blog_grid_3.html">3 Columns</a></li>
													<li><a href="blog_grid_sidebar.html">Sidebar</a></li>
												</ul></li>
											<li><a href="#">Blog Post</a>
												<ul class="submenu">
													<li><a href="blog_post_sidebar.html">Sidebar Post</a></li>
													<li><a href="blog_post.html">Wide Post</a></li>
												</ul></li>
										</ul></li>

									<li><a href="#" data-hover="Portfolio">Portfolio</a>
										<ul class="submenu">
											<li><a href="#">Filterable</a>
												<ul class="submenu">
													<li><a href="portfolio_2.html">2 Columns</a></li>
													<li><a href="portfolio_3.html">3 Columns</a></li>
													<li><a href="portfolio_4.html">4 Columns</a></li>
												</ul></li>
											<li><a href="portfolio_sidebar.html">Sidebar</a></li>
											<li><a href="portfolio_effects.html">Hover Effects</a></li>
											<li><a href="#">Project</a>
												<ul class="submenu">
													<li><a href="portfolio_project_wide.html">Wide Project</a></li>
													<li><a href="portfolio_project_half.html">Half Project</a></li>
													<li><a href="portfolio_project_sidebar.html">Sidebar Project</a></li>
												</ul></li>
											<li><a href="#">Gallery</a>
												<ul class="submenu">
													<li><a href="page_gallery_2.html">2 Columns</a></li>
													<li><a href="page_gallery_3.html">3 Columns</a></li>
													<li><a href="page_gallery_4.html">4 Columns</a></li>
												</ul></li>
										</ul></li>

									<li><a href="#" data-hover="Shop">Shop</a>
										<ul class="submenu">
											<li><a href="#">List of products</a>
												<ul class="submenu">
													<li><a href="shop_grid_sidebar.html">Sidebar Grid</a></li>
													<li><a href="shop_grid.html">Full Grid</a></li>
													<li><a href="shop_list_sidebar.html">Sidebar List</a></li>
													<li><a href="shop_list.html">Full List</a></li>
												</ul></li>
											<li><a href="#">Single Product</a>
												<ul class="submenu">
													<li><a href="shop_product_sidebar.html">Sidebar Product</a></li>
													<li><a href="shop_product.html">Full Product</a></li>
												</ul></li>
											<li><a href="shop_account.html">Account</a></li>
											<li><a href="shop_cart.html">Shopping Cart</a></li>
											<li><a href="shop_checkout.html">Checkout</a></li>
											<li><a href="shop_confirmation.html">Confirmation</a></li>
										</ul></li>
									<li><a href="#" data-hover="Pages">Pages</a>
										<div class="megamenu full">
											<div class="row">
												<div class="col-3">
													<ul class="megamenu-list">
														<li><a href="page_about_us.html">About us</a></li>
														<li><a href="page_about_me.html">About me</a></li>
														<li><a href="page_team.html">Team</a></li>
														<li><a href="page_careers.html">Careers</a></li>
														<li><a href="page_clients.html">Clients</a></li>
														<li><a href="page_contact.html">Contact</a></li>
														<li><a href="page_services.html">Services</a></li>
													</ul>
												</div>
												<div class="col-3">
													<ul class="megamenu-list">
														<li><a href="page_pricing.html">Pricing</a></li>
														<li><a href="page_events.html">Events</a></li>
														<li><a href="page_sidebar_left.html">Sidebar Left</a></li>
														<li><a href="page_sidebar_right.html">Sidebar Right</a></li>
														<li><a href="page_sidebars.html">Two Sidebars</a></li>
														<li><a href="page_sidebar_navigation.html">Sidebar Navigation</a></li>
														<li><a href="page_full_width.html">Full Width</a></li>
													</ul>
												</div>
												<div class="col-3">
													<ul class="megamenu-list">
														<li><a href="page_faq.html">FAQs</a></li>
														<li><a href="page_sitemap.html">Sitemap</a></li>
														<li><a href="page_login.html">Log in</a></li>
														<li><a href="page_register.html">Register</a></li>
														<li><a href="page_password.html">Password Recovery</a></li>
														<li><a href="page_preloader.html">Preloader Page</a></li>
														<li><a href="page_jobs.html">Jobs</a></li>
													</ul>
												</div>
												<div class="col-3">
													<ul class="megamenu-list">
														<li><a href="page_404.html">404 Not Found</a></li>
														<li><a href="page_403.html">403 Forbidden</a></li>
														<li><a href="page_500.html">500 Server Error</a></li>
														<li><a href="page_blank.html">Blank Page</a></li>
														<li><a href="page_coming_soon.html">Coming Soon</a></li>
														<li><a href="page_under_construction.html">Under Construction</a></li>
													</ul>
												</div>
											</div>
										</div></li>
									<li><a href="#" data-hover="Features">Features</a>
										<div class="megamenu full">
											<div class="row">
												<div class="col-3">
													<ul class="nav nav-tabs vertical">
														<li class="active"><a href="#menu-tab1" data-toggle="tab">Elements</a></li>
														<li><a href="#menu-tab2" data-toggle="tab">Includes</a></li>
														<li><a href="#menu-tab3" data-toggle="tab">Products</a></li>
													</ul>
												</div>
												<div class="tab-content">
													<div class="tab-pane fade in active" id="menu-tab1">
														<div class="col-3">
															<ul class="megamenu-list">
																<li><a href="feature_typography.html"><i class="fa fa-text-height"></i> Typography</a></li>
																<li><a href="feature_buttons.html"><i class="fa fa-link"></i> Buttons</a></li>
																<li><a href="feature_forms.html"><i class="fa fa-check-square-o"></i> Forms</a></li>
																<li><a href="feature_columns.html"><i class="fa fa-columns"></i> Columns</a></li>
																<li><a href="feature_alerts.html"><i class="fa fa-bell-o"></i> Alerts</a></li>
																<li><a href="feature_icons.html"><i class="fa fa-android"></i> Icons</a></li>
																<li><a href="feature_dropcaps.html"><i class="fa fa-paragraph"></i> Dropcaps</a></li>
																<li><a href="feature_dividers.html"><i class="fa fa-align-left"></i> Dividers</a></li>
																<li><a href="feature_megamenu.html"><i class="fa fa-list-ul"></i> Megamenu</a></li>
															</ul>
														</div>
														<div class="col-3">
															<ul class="megamenu-list">
																<li><a href="feature_media.html"><i class="fa fa-camera"></i> Media</a></li>
																<li><a href="feature_maps.html"><i class="fa fa-map-marker"></i> Maps</a></li>
																<li><a href="feature_charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
																<li><a href="feature_sections.html"><i class="fa fa-shield"></i> Sections</a></li>
																<li><a href="feature_panels.html"><i class="fa fa-th-list"></i> Panels</a></li>
																<li><a href="feature_animations.html"><i class="fa fa-spinner"></i> Animations</a></li>
																<li><a href="feature_wells.html"><i class="fa fa-bookmark-o"></i> Wells</a></li>
																<li><a href="feature_titlebars.html"><i class="fa fa-text-height"></i> Titlebars</a></li>
															</ul>
														</div>
														<div class="col-3">
															<ul class="megamenu-list">
																<li><a href="feature_tables.html"><i class="fa fa-table"></i> Tables</a></li>
																<li><a href="feature_pricing_tables.html"><i class="fa fa-dollar"></i> Pricing Tables</a></li>
																<li><a href="feature_toggles.html"><i class="fa fa-sliders"></i> Toggles</a></li>
																<li><a href="feature_tabs.html"><i class="fa fa-list-ul"></i> Tabs</a></li>
																<li><a href="feature_progress_bars.html"><i class="fa fa-tasks"></i> Progress Bars</a></li>
																<li><a href="feature_popovers.html"><i class="fa fa-cubes"></i> Popovers</a></li>
																<li><a href="feature_pagination.html"><i class="fa fa-angle-double-right"></i> Pagination</a></li>
																<li><a href="feature_testimonials.html"><i class="fa fa-quote-right"></i> Testimonials</a></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="menu-tab2">
														<div class="col-3">
															<ul class="megamenu-list">
																<li class="title"><i class="fa fa-header"></i> &nbsp; Headers</li>
																<li><a href="feature_header_1.html">Header Style #1</a></li>
																<li><a href="feature_header_2.html">Header Style #2</a></li>
																<li><a href="feature_header_3.html">Header Style #3</a></li>
																<li><a href="feature_header_4.html">Header Style #4</a></li>
															</ul>
														</div>
														<div class="col-3">
															<ul class="megamenu-list">
																<li class="title"><i class="fa fa-check"></i> &nbsp; Footers</li>
																<li><a href="feature_footer_1.html">Footer Style #1</a></li>
																<li><a href="feature_footer_2.html">Footer Style #2</a></li>
																<li><a href="feature_footer_3.html">Footer Style #3</a></li>
																<li><a href="feature_footer_4.html">Footer Style #4</a></li>
															</ul>
														</div>
														<div class="col-3">
															<ul class="megamenu-list">
																<li class="title"><i class="fa fa-sliders"></i> &nbsp; Sliders</li>
																<li><a href="feature_slider_fullwidth.html">Full Width</a></li>
																<li><a href="feature_slider_boxed.html">Boxed</a></li>
																<li><a href="feature_slider_fullscreen.html">Full Screen</a></li>
																<li><a href="feature_slider_flexslider.html">Flexslider</a></li>
															</ul>
														</div>
													</div>
													<div class="tab-pane fade" id="menu-tab3">
														<div class="col-3">
															<ul class="megamenu-list">
																<li class="title"><i class="fa fa-shopping-cart"></i> &nbsp; on sale</li>
																<li><a href="#">Galaxy Tab Pro</a></li>
																<li><a href="#">Iphone 6 Plus</a></li>
																<li><a href="#">HTC One M8</a></li>
																<li><a href="#">Samsung Galaxy S5</a></li>
																<li><a href="#">Smartwatch Nano</a></li>
															</ul>
														</div>
														<div class="col-3">
															<ul class="megamenu-list">
																<li class="title color-red-2"><i class="fa fa-google-wallet"></i> &nbsp; 25% off</li>
																<li><a href="#">Lenovo IdeaPad</a></li>
																<li><a href="#">Nokia Lumia 910</a></li>
																<li><a href="#">Macbook Air</a></li>
																<li class="title color-orange mt15"><i class="fa fa-google-wallet"></i> &nbsp; 40% off</li>
																<li><a href="#">Ipad Air</a></li>
																<li><a href="#">Google Nexus 7</a></li>
															</ul>
														</div>
														<div class="col-3">
															<ul class="megamenu-list">
																<li class="title color-blue"><i class="fa fa-cc-paypal"></i> &nbsp; Trending</li>
																<li><a href="#">Notebooks</a></li>
																<li><a href="#">Smartphones &amp; Tablets</a></li>
																<li><a href="#">E-Book Readers</a></li>
																<li><a href="#">Software Apps</a></li>
																<li><a href="#">Audio &amp; Video</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div></li>
									<li><a href="page_contact.html" data-hover="Contact">Contact</a></li>
									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="section-3 custom-bg large-padding parallax mt0" data-bg="http://abusinesstheme.com/demo/voyo/assets/images/demo/s-202.jpg">
			<div class="bg-layer"></div>
			<div class="container">
				<div class="row mb40 mt40">
					<div class="col-md-6 col-sm-8">
						<div class="box-about">
							<h2 class="section-title st2 text-left mb30">Just the perfect HTML Template</h2>
							<p class="custom-bg-p mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorem, ea molestiae adipisci et labore aperiam tenetur, magni eaque, alias esse, ex animi tempora deleniti. Natus ullam est, soluta et. Rerum accusamus dolores voluptatem aut reiciendis.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3 sm-box2">
						<div class="box-content">
							<img src="http://abusinesstheme.com/demo/voyo/assets/images/icons/full-color/128px/volume.png" alt="">
							<h3>This is just</h3>
							<p class="mb0">Lorem ipsum dolor sit amet, consect adipisicing elit dolorum ipsum acet.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 sm-box2">
						<div class="box-content">
							<img src="http://abusinesstheme.com/demo/voyo/assets/images/icons/full-color/128px/takeoff.png" alt="">
							<h3>the perfect</h3>
							<p class="mb0">Lorem ipsum dolor sit amet, consect adipisicing elit dolorum ipsum acet.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 xs-box2">
						<div class="box-content">
							<img src="http://abusinesstheme.com/demo/voyo/assets/images/icons/full-color/128px/trophy.png" alt="">
							<h3>HTML5 &amp; CSS3</h3>
							<p class="mb0">Lorem ipsum dolor sit amet, consect adipisicing elit dolorum ipsum acet.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="box-content">
							<img src="http://abusinesstheme.com/demo/voyo/assets/images/icons/full-color/128px/rgb.png" alt="">
							<h3>Template</h3>
							<p class="mb0">Lorem ipsum dolor sit amet, consect adipisicing elit dolorum ipsum acet.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-3 section-dark">
			<div class="container">
				<div class="row mt10 page-services">
					<div class="col-sm-4 col-md-3 sm-box">
						<ul class="nav nav-tabs vertical">
							<li class="active"><a href="#tab1" data-toggle="tab">Responsive Design</a></li>
							<li><a href="#tab2" data-toggle="tab">Clean Code</a></li>
							<li><a href="#tab3" data-toggle="tab">Do it yourself</a></li>
							<li><a href="#tab4" data-toggle="tab">Customizable</a></li>
						</ul>
					</div>
					<div class="col-sm-8 col-md-9">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="tab1">
								<h3 class="box-title mt0">Dark Section Style</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, distinctio omnis dolorum nostrum alias nulla placeat id sit debitis molestiae neque tenetur consequatur in unde aliquam optio quasi beatae veritatis rem delectus eveniet!</p>
								<p>
									<i class="fa fa-cloud-download fa-bg main-bg color-white"></i> &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit facere, distinctio.
								</p>
								<p class="mb0">
									<i class="fa fa-cloud fa-bg main-bg color-white"></i> &nbsp; Omnis dolorum nostrum alias nulla placeat id sit debitis molestiae neque
								</p>
							</div>
							<div class="tab-pane fade" id="tab2">
								<h3 class="box-title mt0">Followed the best practices</h3>
								<p>
									<i class="fa fa-html5 main-color"></i> &nbsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit facere, distinctio.
								</p>
								<p>
									<i class="fa fa-wordpress main-color"></i> &nbsp; Omnis dolorum nostrum alias nulla placeat id sit debitis molestiae neque
								</p>
								<p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit, suscipit tempore. Blanditiis adipisci, porro labore quae cum sunt neque. Ut voluptate incidunt eaque non sapiente!</p>
							</div>
							<div class="tab-pane fade" id="tab3">
								<h3 class="box-title mt0">Create your home page by yourself</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, distinctio omnis dolorum nostrum alias nulla placeat id sit debitis molestiae neque tenetur consequatur in unde aliquam.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sunt obcaecati deleniti ut non adipisci cupiditate, perspiciatis quibusdam voluptatum.</p>
							</div>
							<div class="tab-pane fade" id="tab4">
								<h3 class="box-title mt0">Customize whatever you want</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, distinctio omnis dolorum nostrum alias nulla placeat id sit debitis molestiae neque tenetur consequatur in unde aliquam optio quasi beatae veritatis rem delectus eveniet! Aliquid, minima, natus, odit cumque consequuntur ratione eligendi est pariatur maiores recusandae asperiores tenetur optio id cum?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h2 class="section-title mb20">
							What offers do we <span class="main-text">have?</span>
						</h2>
						<p class="subtitle text-center mb50">
							Lorem ipsum dolor sit amet, <span class="main-text">consectetur adipisicing </span> elitorem ipsum dolores.
						</p>
					</div>
				</div>
				<div class="row mb35">
					<div class="col-sm-12 col-md-10 col-md-offset-1">
						<div class="plans">
							<div class="plan plan-basic">
								<div class="plan-header">
									<h3 class="plan-price">
										<span class="plan-curency">$</span>49<span class="plan-period">/month</span>
									</h3>
									<h2>Basic</h2>
									<a href="#" class="btn voyo-btn-2 rounded">Start free trial!</a>
								</div>
								<div class="plan-features">
									<ul>
										<li class="plan-feature-header">Features</li>
										<li>Predefined Responses</li>
										<li>Custom Business Rules</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="iPhone, iPad, Android, Windows Phone, BlackBerry, Kindle Fire">Native Mobile Apps</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="Agents and end-users can record and attach screencasts to new and existing tickets">Dynamic Content</li>
										<li>Screencasting</li>
										<li class="plan-feature-off">Multi-locale</li>
										<li class="plan-feature-off">Business Hours</li>
										<li class="plan-feature-off">Multiple Ticket forms</li>
										<li class="plan-feature-off">Business rules analysis</li>
										<li class="plan-feature-off">Automated Ticket Sharing</li>
									</ul>
								</div>
							</div>
							<div class="plan plan-professional">
								<div class="plan-header">
									<p class="plan-popular">Most Popular</p>
									<h3 class="plan-price">
										<span class="plan-curency">$</span>69<span class="plan-period">/month</span>
									</h3>
									<h2>Professional</h2>
									<a href="#" class="btn voyo-btn-2 rounded">Sign Up</a>
								</div>
								<div class="plan-features">
									<ul>
										<li class="plan-feature-header">Features</li>
										<li>Predefined Responses</li>
										<li>Custom Business Rules</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="iPhone, iPad, Android, Windows Phone, BlackBerry, Kindle Fire">Native Mobile Apps</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="Agents and end-users can record and attach screencasts to new and existing tickets">Dynamic Content</li>
										<li>Screencasting</li>
										<li>Multi-locale</li>
										<li>Business Hours</li>
										<li class="plan-feature-off">Multiple Ticket forms</li>
										<li class="plan-feature-off">Business rules analysis</li>
										<li class="plan-feature-off">Automated Ticket Sharing</li>
									</ul>
								</div>
							</div>
							<div class="plan plan-enterprise">
								<div class="plan-header">
									<h3 class="plan-price">
										<span class="plan-curency">$</span>99<span class="plan-period">/month</span>
									</h3>
									<h2>Enterprise</h2>
									<a href="#" class="btn voyo-btn-2 rounded">Sign Up</a>
								</div>
								<div class="plan-features">
									<ul>
										<li class="plan-feature-header">Features</li>
										<li>Predefined Responses</li>
										<li>Custom Business Rules</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="iPhone, iPad, Android, Windows Phone, BlackBerry, Kindle Fire">Native Mobile Apps</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="Agents and end-users can record and attach screencasts to new and existing tickets">Dynamic Content</li>
										<li>Screencasting</li>
										<li>Multi-locale</li>
										<li>Business Hours</li>
										<li>Multiple Ticket forms</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="Agents and end-users can record and attach screencasts to new and existing tickets">Business rules analysis</li>
										<li class="plan-feature-highlight" data-toggle="tooltip" title="Agents and end-users can record and attach screencasts to new and existing tickets">Automated Ticket Sharing</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-3 section-dark m0">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h2 class="section-title st2 mb25">Business plans</h2>
						<div class="text-center">
							<p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi a commodi quae modi beatae quo tempore consectetur ullam amet, error assumenda voluptatibus praesentium eaque minus ad laudantium perspiciatis suscipit, nam fuga labore ut quaerat distinctio.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-3 custom-section cs2 mt0">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-12 animated" data-anim="bounceIn">
						<h2 class="section-title st2 mb30">Start your free trial adventure</h2>
						<p class="mb0">
							<a href="#" class="btn btn-primary">Sign Up</a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section mb20">
			<div class="container">
				<div class="row mb30">
					<div class="col-sm-4 xs-box">
						<h3 class="box-title mt0">
							<i class="fa fa-android fa-bg bg-red-2 color-white"></i> &nbsp; Responsive Design
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis commodi dolorum consect adis!</p>
					</div>
					<div class="col-sm-4 xs-box">
						<h3 class="box-title mt0">
							<i class="fa fa-apple fa-bg bg-blue-2 color-white"></i> &nbsp; Retina Ready
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis commodi dolorum consect adis!</p>
					</div>
					<div class="col-sm-4">
						<h3 class="box-title mt0">
							<i class="fa fa-file fa-bg bg-orange color-white"></i> &nbsp; 190+ HTML Files
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis commodi dolorum consect adis!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 xs-box">
						<h3 class="box-title mt0">
							<i class="fa fa-book fa-bg bg-sea color-white"></i> &nbsp; Documentation
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis commodi dolorum consect adis!</p>
					</div>
					<div class="col-sm-4 xs-box">
						<h3 class="box-title mt0">
							<i class="fa fa-star fa-bg bg-blue color-white"></i> &nbsp; Free Updates
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis commodi dolorum consect adis!</p>
					</div>
					<div class="col-sm-4">
						<h3 class="box-title mt0">
							<i class="fa fa-support fa-bg bg-green color-white"></i> &nbsp; Support
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis commodi dolorum consect adis!</p>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer-wrapper">
			<div class="sub-footer white-sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="pull-left">
								<p>&copy; Copyright 2010 - 2014 abusinesstheme</p>
							</div>
							<div class="pull-right">
								<ul class="footer-menu">
									<li><a href="#">Home</a></li>
									<li><a href="#">Contact</a></li>
									<li><a href="#">Events</a></li>
									<li><a href="#">News</a></li>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="main-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-8">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, at.</p>
						</div>
						<div class="col-sm-4">
							<ul class="social-icon dark-2 rounded pull-right">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<hr class="footer-hr">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="row">
								<div class="col-sm-12 col-md-11">
									<div class="footer-widget">
										<h3 class="widget-title">About us</h3>
										<p class="mb25">Lorem ipsum dolor sit amet domo, consectetur adipisicing elit. Magnam, aliquam? Sequi dolore alias voluptate officiis nemo natus dolorum.</p>
										<address class="contact-info">
											<p>
												<i class="fa fa-map-marker box-icon color-white"></i> 1800 Los Angeles, USA
											</p>
											<p>
												<i class="fa fa-phone box-icon color-white"></i> 0 800-55-22-55
											</p>
										</address>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<div class="row">
								<div class="col-sm-6">
									<div class="footer-widget">
										<h3 class="widget-title">Latest posts</h3>
										<ul class="footer-posts">
											<li><a href="blog_post_sidebar.html"><i class="fa fa-wordpress"></i> About Wordpress themes</a></li>
											<li><a href="blog_post_sidebar.html"><i class="fa fa-joomla"></i> Why choose Joomla</a></li>
											<li><a href="blog_post_sidebar.html"><i class="fa fa-drupal"></i> Drupal is better</a></li>
											<li><a href="blog_post_sidebar.html"><i class="fa fa-camera"></i> Magento vs. OpenCart</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="footer-widget">
										<h3 class="widget-title">Flickr photos</h3>
										<ul id="flickr-footer" class="flickr-feed footer-projects">
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</footer>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script src="http://abusinesstheme.com/demo/voyo/assets/js/script.js"></script>
</body>
</html>